src/key/
api-test/node_modules/
api-test/tmp/
api-test/home-survey-project-configuration.txt
api-test/webap-token.html
api-test/firebase-cloud-firestore-test.html

.vscode/

firebase-adapter/obj/
firebase-adapter/bin/
appsettings.Development.json
*.key
